#ifndef Secrets_H
#define Secrets_H

#define RADIO_URL "http://radiostream.pl/music.mp3"
#define BASE_SERVER_URL "imageToBinaryServer"

// Zmień na swoją nazwę sieci i hasło
#define SSID2 "Home"
#define WIFI_PASSWORD "123456789"

#endif